<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nature
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nature</ion-title>
    </ion-toolbar>
  </ion-header>

  <IonRow>
    <IonCol size="12" size-sm>
      <img src="assets/Nature1.jpeg" width="300px" height="500px"/>
      </IonCol>
    <IonCol size="12" size-sm>
      <img src="assets/Nature2.jpeg" width="300px" height="500px"/>
      </IonCol>
    <IonCol size="12" size-sm>
      <img src="assets/Nature3.jpeg" width="300px" height="500px"/>
      </IonCol>
    <IonCol size="12" size-sm>
      <img src="assets/Nature4.jpeg" width="300px" height="500px"/>
      </IonCol>
     </IonRow>
</ion-content>
