<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nice Shoes!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nice Shoes!</ion-title>
    </ion-toolbar>
  </ion-header>

  <IonRow>
    <IonCol size="12" size-sm>
      <img src="assets/Cowboy boots.JPG.jpg" width="300px" height="500px"/>
      </IonCol>
    <IonCol size="12" size-sm>
      <img src="assets/Fashion boots.JPG.jpg" width="300px" height="500px"/>
      </IonCol>
    <IonCol size="12" size-sm>
      <img src="assets/myshoe6.jpg" width="300px" height="500px"/>
      </IonCol>
    <IonCol size="12" size-sm>
      <img src="assets/Platform boots.JPG.jpg" width="300px" height="500px"/>
      </IonCol>
     </IonRow>
</ion-content>
